* {
    margin: 0;
    padding: 0;
}

.five-page {
    background-color: rgb(154, 216, 252);
    background-image: url("./seven.gif");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh;
    width: 100%;
    text-align: center;
    justify-content: center;
    display: flex;
}
