* {
    margin: 0;
    padding: 0;
}

.front-page {
    background-image: url("./one.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh;
    text-align: center;
    justify-content: center;
    display: flex;
}
